canvas {
  margin: -50px -5px;
  width: 101% !important;
  background-color: #effffd !important;
}

.fa {
  color: #FFF;
  padding-right: 10px;
  font-size: 12.5px !important;
  font-size: 0.78125rem;
}

@media screen and (max-width: 900px) {
  aside {
    /* visibility: hidden; */
  }

  .dashboard {
    width: 100%;
    margin-top: 50px;
  }
}

.wrapper {
    display: flex;
    box-sizing: border-box;
}

.wrapper > div {
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin: 0 16px;
}

.dashboard {
  background: #effffd !important;
}

.legend {
	background-color: transparent;
  position:absolute;
  bottom:0;
  height: 75px;
}
.legendText {
	font-size: 11px;
	fill: #777;
	font-weight: bold;
}
.one {
  fill: rgb(48,179,45);
}
.two {
  fill: rgb(255,221,0);
}
.three {
  fill: rgb(240,62,62);
}
