.temperature {
  background: #283949;
  width: 100%;
  height: auto;
}

.humidity {
  background: #233140;
  width: 100%;
  height: auto;
}

.pressure {
  background: #283949;
  width: 100%;
  height: auto;
}

.info {
  padding: 25px;
  height: 200px;
}

.fa {
  color: #FFF;
  padding-right: 10px;
  font-size: 12.5px !important;
  font-size: 0.78125rem;
}

.wrapper {
    display: flex;
    height:100%;
    box-sizing: border-box;
    color:white;
}

.wrapper > div {
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin: 0 16px;
}

.textfield{
  text-align: center;
  color: white;
  width:300px;
}
