* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #2C3E50;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  overflow-x: hidden;
  height: 100vh;
}

header {
  position: absolute;
  right: 0;
  height: 0;
}

.account {
  margin: 20px 150px;
}
.account img {
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.account p {
  float: right;
  color: #FFF;
  margin: 7px -160px;
  font-size: 15px;
}

.account-box:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #1f2c39;
  margin: -7px 34px;
  float: right;
}

.account-box {
  background: #1f2c39;
  border-radius: 3px;
  width: 80%;
  height: 300px;
  border: none;
  margin: 50px 60px;
  position: absolute;
}
.account-box h3 {
  text-align: center;
  color: #FFF;
  padding: 20px;
  font-weight: 300;
  border-bottom: 1px solid #233140;
}
.account-box li {
  list-style: none;
  padding: 15px;
  width: 38.8%;
  float: left;
  transition: all ease 0.4s;
}
.account-box li:hover {
  background: #233140;
}
.account-box a {
  text-decoration: none;
  color: #FFF;
}

aside {
  background: #233140;
  width: 20%;
  height: 100vh;
  position: fixed;
}
aside h1 {
  font-family: 'Pacifico', cursive;
  color: #FFF;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  font-size: 2.5rem;
}
aside ul {
  margin: 40px 0;
}
aside li {
  list-style: none;
  padding: 9px;
  margin-top: 10px;
  transition: all ease 0.4s;
}
aside li.active {
  background: #1a252f;
}
aside li:hover {
  background: #1a252f;
}
aside a {
  color: #FFF;
  text-decoration: none;
  font-size: 12.5px;
  padding-left: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12.5px;
  font-size: 0.78125rem;
}

.notification {
  background: #2980B9;
  width: 20px;
  height: 20px;
  padding: 2px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  color: #FFF;
  font-weight: 400;
  float: right;
  margin-top: -2px;
  margin-right: 10px;
  font-size: 14px;
  font-size: 0.875rem;
}

.dashboard {
  background: #2C3E50;
  width: 80%;
  height: 100vh;
  float: right;
}

canvas {
  margin: -50px -5px;
  width: 101% !important;
}

.row {
  width: 100%;
  margin-top: 41px;
}
.row p {
  float: left;
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
}

.temperature {
  background: #283949;
  width: 50%;
  height: auto;
  float: left;
}

.humidity {
  background: #233140;
  width: 50%;
  height: auto;
  float: right;
}

.pressure {
  background: #233140;
  width: 50%;
  height: auto;
  float: left;
}

.info {
  padding: 25px;
  height: 200px;
}

.circle {
  width: 100px;
  height: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 10px solid #273646;
  color: #FFF;
}

.c-temperature {
  background: transparent;
  border-top-color: #2980B9;
  border-right-color: #2980B9;
  border-bottom-color: #2980B9;
  border-left-color: #2980B9;
}

.c-humidity {
  background: transparent;
  border-top-color: #9B59B6;
  border-right-color: #9B59B6;
  border-bottom-color: #9B59B6;
  border-left-color: #9B59B6;
}

.c-pressure {
  background: transparent;
  border-top-color: rgba(12, 100, 40, 0.9);
  border-right-color: rgba(12, 100, 40, 0.9);
  border-bottom-color: rgba(12, 100, 40, 0.9);
  border-left-color: rgba(12, 100, 40, 0.9);
}

.fa {
  color: #FFF;
  padding-right: 10px;
  font-size: 12.5px !important;
  font-size: 0.78125rem;
}

.fa.fa-caret-down {
  margin: 0 10px;
}

.fa.fa-bars {
  float: right;
  margin: 30px 20px;
  visibility: hidden;
  font-size: 20px !important;
  font-size: 1.25rem;
}

@media screen and (max-width: 900px) {
  aside {
    visibility: hidden;
  }

  .temperature, .humidity, .pressure {
    width: 100%;
  }

  .pressure {
    background: #283949;
  }

  .dashboard {
    width: 100%;
    margin-top: 50px;
  }

  .account {
    visibility: hidden;
  }

  .menu {
    width: 100vw;
    height: 100vh;
    background: #2C3E50;
    margin: 0 0;
    padding-bottom: 60px;
  }
  .menu ul {
    margin: -50px 30px;
    text-align: left;
  }
  .menu li {
    list-style: none;
    padding: 20px 0;
    margin: 0 0;
  }
  .menu a {
    text-decoration: none;
    color: #FFF;
  }
  .menu p {
    background: #253443;
    padding: 20px;
    color: #FFF;
    text-align: center;
    margin: 90px 0;
    font-weight: 700;
  }

  .fa.fa-bars {
    visibility: visible;
  }
}




.wrapper {
    display: flex;
    box-sizing: border-box;
}

.wrapper > div {
    box-sizing: border-box;
    width: calc(50% - 32px);
    float: left;
    margin: 0 16px;
}



/* Radio Buttons */


fieldset {
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline__label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
    line-height: 1;
}

.radio-inline__input:checked + .radio-inline__label {
    background: #4285F4;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}




/* Dropdown */

/* General dropdown styles */
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }

/* DT styles for sliding doors */
.dropdown dt a {
  color: #FFF;
  background:#1EAA8D url('http://www.jankoatwarpspeed.com/wp-content/uploads/examples/reinventing-drop-down/arrow.png') no-repeat scroll 180px center;
  display: block;
  padding-right:20px;
  width: 180px;
  text-decoration: none;
}
.dropdown dt a span {
  cursor:pointer;
  display:block;
  padding:5px;
  color: #FFF;
  text-decoration: none;
}
/* UL styles */
.dropdown dd ul {
  background:#1EAA8D none repeat scroll 0 0; display:none;
  list-style:none; padding:5px 0px; position:absolute;
  left: 0px;
  top: 2px;
  width: auto;
  min-width:170px;
}
.dropdown span.value { display:none;}
.dropdown dd ul li a {
  padding: 5px;
  display: block;
  color: #fff;
  outline: none;
  text-decoration: none;
}
.dropdown dd ul li a:hover{
  background-color: #2b9c84 ;
  color: #FFF;
  text-decoration: none;
}

.dropdown span.value { display:none; }
