* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #50C878;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  overflow-x: hidden;
  height: 100vh;
}

header {
  position: absolute;
  right: 0;
  height: 0;
}

aside {
  background: #2E8B57;
  width: 20%;
  height: 100vh;
  position: fixed;
}
aside h1 {
  font-family: 'Pacifico', cursive;
  color: #FFF;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  font-size: 2.5rem;
}
aside ul {
  margin: 40px 0;
}
aside li {
  list-style: none;
  padding: 9px;
  margin-top: 10px;
  transition: all ease 0.4s;
}
aside li.active {
  background: #00A572;
}
aside li:hover {
  background: #1a252f;
}
aside a {
  color: #FFF;
  text-decoration: none;
  font-size: 12.5px;
  padding-left: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12.5px;
  font-size: 0.78125rem;
}

.dashboard {
  background: #50C878;
  width: 80%;
  height: 100vh;
  float: right;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

canvas {
  position: absolute;
  bottom: 0;
  margin: -5px;
  width: 101% !important;
}

.temperature-grid {
  background: #29AB87;
  height: auto;
  float: left;
}

.humidity-grid {
  background: #00A572;
  height: auto;
  float: right;
}

.pressure-grid {
  background: #00A572;
  height: auto;
  float: left;
}

.info {
  padding: 25px;
  height: 200px;
}

.circle {
  width: 100px;
  height: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 10px solid #273646;
}

.c-temperature {
  background: transparent;
  border-top-color: #2980B9;
  border-right-color: #2980B9;
  border-bottom-color: #2980B9;
}

.c-humidity {
  background: transparent;
  border-top-color: #9B59B6;
  border-right-color: #9B59B6;
}

.c-pressure {
  background: transparent;
  border-top-color: #36e8c3;
  border-right-color: #36e8c3;
}

.fa {
  color: #FFF;
  padding-right: 10px;
  font-size: 12.5px !important;
  font-size: 0.78125rem;
}

.fa.fa-caret-down {
  margin: 0 10px;
}

.fa.fa-bars {
  float: right;
  margin: 30px 20px;
  visibility: hidden;
  font-size: 20px !important;
  font-size: 1.25rem;
}

@media screen and (max-width: 900px) {
  aside {
    visibility: hidden;
  }

  .temperature, .humidity, .pressure {
    width: 100%;
  }

  .dashboard {
    width: 100%;
    margin-top: 50px;
  }

  .account {
    visibility: hidden;
  }

  .menu {
    width: 100vw;
    height: 100vh;
    background: #2C3E50;
    margin: 0 0;
    padding-bottom: 60px;
  }
  .menu ul {
    margin: -50px 30px;
    text-align: left;
  }
  .menu li {
    list-style: none;
    padding: 20px 0;
    margin: 0 0;
  }
  .menu a {
    text-decoration: none;
    color: #FFF;
  }
  .menu p {
    background: #253443;
    padding: 20px;
    color: #FFF;
    text-align: center;
    margin: 90px 0;
    font-weight: 700;
  }

  .fa.fa-bars {
    visibility: visible;
  }
}




.wrapper {
    display: flex;
    box-sizing: border-box;
}

.wrapper > div {
    box-sizing: border-box;
    width: calc(50% - 32px);
    float: left;
    margin: 0 16px;
}

/* Gradient 1 */
#g1 {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

/* Gradient 2 */
#g2 {
  background: linear-gradient(90deg, #cfecd0, #29AB87);
}

/* Gradient 3 */
#g3 {
  background: linear-gradient(90deg, #f598a8, #f6edb2);
}

/* Gradient 4 */
#g4 {
  background: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
}

/* Gradient 5 */
#g5 {
  background: linear-gradient(90deg, #b9deed, #efefef);
}

/* Gradient 6 */
#g6 {
  background: linear-gradient(90deg, #98FB98, #d3ffe8);
}

/* Gradient 7 */
#g7 {
  background: linear-gradient(90deg, #faf0cd, #fab397);
}

/* Gradient 8 */
#g8 {
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#chartContainer {
  position: relative;
}
